/*
 * style.css
 * github pages 公開ページ用 css です
 * 
 * © 2022 Taichi Ito.
 * 
 */

body {
    color: silver;
    background-color: #101010;
}

h1 {
    padding: 5px;
}

h2 {
    padding: 5px;
}

h3 {
    padding: 5px;
}

button {
    color: silver;
    background-color: transparent;
}

ul {
    color: silver;
    background-color: transparent;
}

li {
    margin: 5px;
    color: silver;
    background-color: transparent;
}

nav {
    color: silver;
    background-color: transparent;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px;
    color: silver;
    background-color: #080808;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: silver;
    background-color: #080808;
}

.main {
    margin-top: 100px;
    margin-bottom: 20px;
}

.menu {
    color: silver;
    background-color: #080808;
}